body{
  width: 80%;
  margin-left: 10%;
}

.peus {
  background-image: url('../img/peus.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.logo{
  margin-top: 2%;
}

.home {
  background-color: #DF0174;
}
.segundo {
  background-color: #F2F2F2;
  color: #1C1C1C
}

.primero {
  background-color: #DF0174;
}
.page {
  background-color: #F2F2F2;
  color: #1C1C1C;
}
.simple {
  background-color: #F2F2F2;
  color: #1C1C1C;
}
.grid {
  background-color: #F2F2F2;
  color: #1C1C1C;
}
.navegador{
  margin-top: 2%;
}
.morado-letra{
  color: #DF0174;
}

.morado-fondo {
  background-color: #DF0174;
}
.footer-color a {
  color: #DF0174;
}

.container3 {
  padding-top: 3%;
  background-image: url('../img/fons_footer.png');
}

.container4 {
  margin-bottom: 5%;
}

.welcom {
  margin-top: 3%;
}
